@{
    ViewData["Title"] = "Home Page";
}

@model WebSampleApp.Models.BowlingResultViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h3>Vamos a jugar a los bolos...</h3>
    <p>El resultado ha sido... @Model.resultBowlingGame</p>
</div>
